/*フラッシュメッセージ*/
.p-flash{
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background: $background-color_flash;
	z-index: 4;
	width: 100%;
	height: $space_xxl;
	font-size: $font-size_xl;
}
