@charset "UTF-8";

html,
body,
h1,
h2,
h3,
h4,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
header,
footer,
aside,
figure,
figcaption,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  position: relative;
  background-color: #fff2e5;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

img {
  vertical-align: middle;
  border-style: none;
}

p {
  margin-bottom: 15px;
}

.body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.footer {
  text-align: center;
  font-size: 14px;
}

.header {
  padding: 20px;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff2e5;
}

@media screen and (min-width: 1000px) {
  .header {
    width: 980px;
    margin: auto;
    position: relative;
    z-index: 3;
  }
}

.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.hero__banner {
  z-index: 1;
}

.hero__textbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-40%);
  z-index: 2;
}

.main {
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff2e5;
  flex: 1;
}

@media screen and (min-width: 1000px) {
  .main {
    width: 980px;
    margin: auto;
    margin-bottom: 40px;
  }
}

/*ボタン*/

.c-button,
.c-formbutton {
  display: block;
  padding: 10px;
  border-radius: 5px;
  height: 100%;
  background-color: #d0ccff;
}

/*画像*/

.c-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/*見出し*/

.c-title {
  font-size: 24px;
}

/*テキストボックス*/

.c-textbox {
  display: block;
  border-radius: 5px;
  padding: 10px;
  background-color: #fefefe;
  height: 100%;
}

/*テキストエリア*/

.c-textarea {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
}

/*フォーム項目*/

.c-formtitle {
  display: block;
}

/*テキストフォーム*/

.c-textform,
.c-formbutton {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
}

/*数字フォーム*/

.c-numform {
  width: 30%;
  font-size: 20px;
  box-sizing: border-box;
}

/*フォームボタン*/

.c-formbutton {
  border: none;
}

/*テーブル項目*/

.c-th {
  padding: 10px;
  white-space: nowrap;
}

/*タイムスタンプ*/

.c-date {
  font-size: 14px;
  text-align: right;
  display: block;
}

/*プロフィール画像*/

.c-mypic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.c-msgpic {
  border-radius: 50%;
  overflow: hidden;
}

.c-formpic {
  position: relative;
}

.c-inputpic {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

/*メッセージ*/

.menu-trigger {
  width: 100px;
  height: 100px;
  border: 1px solid;
}

/*お気に入り*/

.c-active {
  color: red;
}

.c-like {
  font-size: 24px;
  vertical-align: top;
}

/*ロゴ*/

.p-logo {
  display: block;
  font-size: 24px;
  border-radius: 50%;
  background-color: #9f9f9f;
  padding: 0 40px;
}

/*ヘッダーメニュー*/

.p-navmenu {
  display: none;
}

@media screen and (min-width: 1000px) {
  .p-navmenu {
    display: block;
  }
}

.p-navmenu__item {
  background-color: #fefefe;
  height: 100%;
  margin: 0 5px;
}

.p-navmenu__item:hover {
  opacity: 0.5;
}

/*ヒーローテキスト*/

.p-herotext {
  width: 40%;
}

/*パネル*/

.p-panel__item {
  width: 100%;
  margin-right: 5%;
  display: block;
}

.p-panel__item5 {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .p-panel__item5 {
    width: 15%;
    margin-right: 5%;
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .p-panel__item5:last-child {
    margin-right: 0;
  }
}

.p-panel__item3 {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .p-panel__item3 {
    width: 30%;
    margin-right: 5%;
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .p-panel__item3:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1000px) {
  .p-panel:last-child {
    margin-right: 0;
  }
}

/*フォーム*/

.p-form {
  background-color: #fefefe;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (min-width: 1000px) {
  .p-form {
    width: 50%;
    margin: auto;
  }
}

.p-form__content {
  width: 70%;
  margin: auto;
}

/*メインコンテンツ*/

.p-maincontent {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .p-maincontent {
    width: 70%;
    box-sizing: border-box;
  }
}

/*サイドコンテンツ*/

.p-sidecontent {
  display: none;
}

@media screen and (min-width: 1000px) {
  .p-sidecontent {
    display: block;
    width: 30%;
    box-sizing: border-box;
  }
}

/*ページネーション*/

.p-pagenation {
  width: 40%;
  margin: auto;
  display: block;
}

/*コメント*/

.p-comment {
  border-bottom: 1px solid black;
}

.p-comment__no {
  font-size: 14px;
  width: 80px;
}

/*プロフィール画像*/

.p-mypic {
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
  position: relative;
}

.p-mypic__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.p-mypic__input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.p-mypic__drop {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: block;
  margin: auto;
}

/*メッセージ*/

.p-message__pic {
  width: 80px;
  height: 80px;
}

.p-message--right {
  width: calc(100% - 80px - 40px);
  position: relative;
  background-color: #AEC4E5;
}

.p-message--right::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -40px;
  border: 20px solid transparent;
  border-right: 20px solid #AEC4E5;
}

.p-message--right::after {
  content: '';
  position: absolute;
  top: 10px;
  left: -39px;
  border: 20px solid transparent;
  border-right: 20px solid #AEC4E5;
}

.p-message--left {
  width: calc(100% - 80px - 40px);
  position: relative;
  background-color: #5cd8e6;
}

.p-message--left::before {
  content: '';
  position: absolute;
  top: 10px;
  right: -40px;
  border: 20px solid transparent;
  border-left: 20px solid #5cd8e6;
}

.p-message--left::after {
  content: '';
  position: absolute;
  top: 10px;
  right: -39px;
  border: 20px solid transparent;
  border-left: 20px solid #5cd8e6;
}

/*
ハンバーガー
*/

.p-menu-trigger {
  width: 40px;
  height: 20px;
  position: fixed;
  right: 20px;
  top: 27px;
  z-index: 3;
}

@media screen and (min-width: 1000px) {
  .p-menu-trigger {
    display: none;
  }
}

.p-menu-trigger span {
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #808080;
  position: absolute;
}

.p-menu-trigger span:nth-of-type(1) {
  top: 0;
}

.p-menu-trigger span:nth-of-type(2) {
  top: 9px;
}

.p-menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

/*
モーダル
*/

.p-modal {
  width: 100vw;
  height: 120vh;
  position: fixed;
  top: 0;
  right: 0;
}

.p-modal-menu {
  width: 50vw;
  height: 100vh;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 80px;
  box-sizing: border-box;
  overflow: scroll;
}

.p-modal-menu__item {
  display: block;
  width: 80%;
  margin: auto;
  line-height: 2;
  font-size: 20px;
}

.p-modal-menu__item a {
  display: block;
}

/*均等配置*/

@media screen and (min-width: 1000px) {
  .u-flex-default,
  .u-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1000px) {
  .u-flex {
    justify-content: flex-start;
  }
}

/*右寄せ*/

.u-right {
  text-align: right;
}

/*中央揃え*/

.u-center {
  text-align: center;
}

/*マージン*/

.u-mb_m {
  margin-bottom: 10px;
}

.u-mb_l {
  margin-bottom: 20px;
}

.u-mb_xl {
  margin-bottom: 40px;
}

.u-mr_l {
  margin-right: 20px;
}

/*パディング*/

.u-pl_l {
  padding-left: 20px;
}

.u-pb_m {
  padding-bottom: 10px;
}

/*テーブル*/

.u-table {
  display: table;
  width: 100%;
}

.u-tcell {
  display: table-cell;
}

/*インラインブロック*/

.u-inline {
  display: inline-block;
}

